<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Media_Player_SMP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Media_Player_SMP.Properties.Settings>
            <setting name="Launguage" serializeAs="String">
                <value>Japanese</value>
            </setting>
            <setting name="textfileflag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fileext" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.mp4</string>
                        <string>.mp3</string>
                        <string>.m4a</string>
                        <string>.wmv</string>
                        <string>.mts</string>
                        <string>.mid</string>
                        <string>.midi</string>
                        <string>.avi</string>
                        <string>.wpl</string>
                        <string>.m3u</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="betafuture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstvol" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormFont" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="EnableAdvancedInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableErrorDialogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadingDialogEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
        </Media_Player_SMP.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <ThrowUnobservedTaskExceptions enabled="true" />
  </runtime>
</configuration>
